# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Disable Package
CONFIG_PACKAGE_automount=n

#  DEFAULT SET
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6

#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y

# Package
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_softethervpn5-libs=y
CONFIG_PACKAGE_softethervpn5-server=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_acme-acmesh=y
CONFIG_PACKAGE_acme-acmesh-dnsapi=y
CONFIG_PACKAGE_acme-common=y
CONFIG_PACKAGE_qrencode=y

# Enable Luci App

CONFIG_PACKAGE_luci-app-istorex=y

CONFIG_PACKAGE_luci-app-autoreboot=y


# CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mosdns=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-quickfile=n
# CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
# CONFIG_PACKAGE_luci-app-athena-led=m
# CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
CONFIG_PACKAGE_luci-app-gecoosac=y
CONFIG_PACKAGE_luci-app-gecoosac-zh-cn=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-uhttpd=y

CONFIG_PACKAGE_luci-app-vnstat2=y

CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-cpufreq=y
# CONFIG_PACKAGE_luci-app-ddns-go=m

CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_yq=y
CONFIG_PACKAGE_ip-full=y

CONFIG_PACKAGE_kmod-nft-tproxy=y
